<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>WINGS Publisher Call Sample</title>
</head>
<body>
    <h1>Kafka Producer Call Sample</h1>
    <div class="card" >
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="clean-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"  aria-selected="true">Room Clean</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="key-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"  aria-selected="false">Room Key</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"  aria-selected="false">Other</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="clean-tab">
                    <div class="card" >
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3 row">
                                            <label for="intfTypeClean" class="col-sm-4 col-form-label" >장비구분</label>
                                            <div class="col-sm-6">
                                                <select id="intfTypeClean" name="intfTypeClean" class="form-control" >
                                                    <option value="ROOM_CLEAN">객실관리</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row" >
                                            <label for="companyIdClean" class="col-sm-4 col-form-label" >컴퍼니 ID</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="companyIdClean" name="companyIdClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="bsnsCodeClean" class="col-sm-4 col-form-label" >사업장 코드</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="bsnsCodeClean" name="bsnsCodeClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="propertyNoClean" class="col-sm-4 col-form-label" >프로퍼티 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="propertyNoClean" name="propertyNoClean" value="" class="form-control">
                                            </div>
                                        </div >

                                        <div  class="mb-3 row" >
                                            <label for="vendorCodeClean" class="col-sm-4 col-form-label" >Vendor Code</label>
                                            <div class="col-sm-6">
                                                <select id="vendorCodeClean" name="vendorCodeClean" class="form-control" >
                                                    <option value="IMGATE_PIN">ImGate(Pin)</option>
                                                    <option value="R_MIRCRONIC">마이크로닉스</option>
                                                    <option value="">PC IP 취득</option>
                                                    <option value="I_CK_SW">크리스텍(시냅틱웨이브)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="roomNoClean" class="col-sm-4 col-form-label">객실번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="roomNoClean" name="roomNoClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="folioNoClean"  class="col-sm-4 col-form-label">폴리오 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="folioNoClean" name="folioNoClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="zoneTypeCodeClean"  class="col-sm-4 col-form-label">Zone Type Code</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="zoneTypeCodeClean" name="zoneTypeCodeClean" value="" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="mb-3 row" >
                                            <label for="etcValue01Clean"  class="col-sm-4 col-form-label">etcValue01</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue01Clean" name="folioNoClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue02Clean"  class="col-sm-4 col-form-label">etcValue02</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue02Clean" name="etcValue02Clean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue03Clean"  class="col-sm-4 col-form-label">etcValue03</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue03Clean" name="etcValue03Clean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue04Clean"  class="col-sm-4 col-form-label">etcValue04</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue04Clean" name="etcValue04Clean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue05Clean"  class="col-sm-4 col-form-label">etcValue05</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue05Clean" name="etcValue05Clean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="userIdClean" class="col-sm-4 col-form-label">User Id</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="userIdClean" name="userIdClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="userIpClean" class="col-sm-4 col-form-label">User IP</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="userIpClean" name="userIpClean" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="langTypeClean" class="col-sm-4 col-form-label">Lang Type</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="langTypeClean" name="langTypeClean" value="" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="button" onclick="callCleanInfo()" class="btn btn-primary">전송 정보 호출</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="key-tab">
                    <div class="card" >
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3 row">
                                            <label for="intfTypeKey" class="col-sm-4 col-form-label" >장비구분</label>
                                            <div class="col-sm-6">
                                                <select id="intfTypeKey" name="intfTypeKey" class="form-control" >
                                                    <option value="ROOM_KEY">객실키</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row" >
                                            <label for="companyIdKey" class="col-sm-4 col-form-label" >컴퍼니 ID</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="companyIdKey" name="companyIdKey" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="bsnsCodeKey" class="col-sm-4 col-form-label" >사업장 코드</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="bsnsCodeKey" name="bsnsCodeKey" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="propertyNoKey" class="col-sm-4 col-form-label" >프로퍼티 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="propertyNoKey" name="propertyNoKey" value="" class="form-control">
                                            </div>
                                        </div >

                                        <div  class="mb-3 row" >
                                            <label for="vendorCodeKey" class="col-sm-4 col-form-label" >Vendor Code</label>
                                            <div class="col-sm-6">
                                                <select id="vendorCodeKey" name="vendorCodeKey" class="form-control" >
                                                    <option value="IMGATE_PIN">ImGate(Pin)</option>
                                                    <option value="R_MIRCRONIC">마이크로닉스</option>
                                                    <option value="">PC IP 취득</option>
                                                    <option value="I_CK_SW">크리스텍(시냅틱웨이브)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row" >
                                            <label for="keyIssueTypeKey" class="col-sm-4 col-form-label" >Issue Type</label>
                                            <div class="col-sm-6">
                                                <select id="keyIssueTypeKey" name="keyIssueTypeKey" class="form-control" >
                                                    <option value="NEW">신규발행</option>
                                                    <option value="ADD">추가발행</option>
                                                    <option value="DEL">회수</option>
                                                    <option value="READ">읽기</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="posNoKey" class="col-sm-4 col-form-label">Pos 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="posNoKey" name="posNoKey" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="roomNoKey" class="col-sm-4 col-form-label">객실번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="roomNoKey" name="roomNoKey" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="folioNoKey"  class="col-sm-4 col-form-label">폴리오 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="folioNoKey" name="folioNoKey" value="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3 row" >
                                            <label for="etcValue01Key"  class="col-sm-4 col-form-label">etcValue01</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue01Key" name="etcValue01Key" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue02Key"  class="col-sm-4 col-form-label">etcValue02</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue02Key" name="etcValue02Key" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue03Key"  class="col-sm-4 col-form-label">etcValue03</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue03Key" name="etcValue03Key" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue04Key"  class="col-sm-4 col-form-label">etcValue04</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue04Key" name="etcValue04Key" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue05Key"  class="col-sm-4 col-form-label">etcValue05</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue05Key" name="etcValue05Key" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="userIdKey" class="col-sm-4 col-form-label">User Id</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="userIdKey" name="userIdKey" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="userIpKey" class="col-sm-4 col-form-label">User IP</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="userIpKey" name="userIpKey" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="langTypeKey" class="col-sm-4 col-form-label">Lang Type</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="langTypeKey" name="langTypeKey" value="" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <button type="button" onclick="callKeyInfo()" class="btn btn-primary">전송 정보 호출</button>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="other-tab">
                    <div class="card" >
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3 row">
                                            <label for="intfTypeOther" class="col-sm-4 col-form-label" >장비구분</label>
                                            <div class="col-sm-6">
                                                <select id="intfTypeOther" name="intfTypeOther" class="form-control" >
                                                    <option value="APPROVAL">결제</option>
                                                    <option value="BIG_PRINT">대용량 출력</option>
                                                    <option value="EXCEL_DOWN">대용량 엑셀</option>
                                                    <option value="DIRECT_PRINT">다이렉트 프린트</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row" >
                                            <label for="companyIdOther" class="col-sm-4 col-form-label" >컴퍼니 ID</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="companyIdOther" name="companyIdOther" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="bsnsCodeOther" class="col-sm-4 col-form-label" >사업장 코드</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="bsnsCodeOther" name="bsnsCodeOther" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="propertyNoOther" class="col-sm-4 col-form-label" >프로퍼티 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="propertyNoOther" name="propertyNoOther" value="" class="form-control">
                                            </div>
                                        </div >

                                        <div  class="mb-3 row" >
                                            <label for="vendorCodeOther" class="col-sm-4 col-form-label" >Vendor Code</label>
                                            <div class="col-sm-6">
                                                <select id="vendorCodeOther" name="vendorCodeOther" class="form-control" >
                                                    <option value="IMGATE_PIN">ImGate(Pin)</option>
                                                    <option value="R_MIRCRONIC">마이크로닉스</option>
                                                    <option value="">PC IP 취득</option>
                                                    <option value="I_CK_SW">크리스텍(시냅틱웨이브)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="roomNoOther" class="col-sm-4 col-form-label">객실번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="roomNoOther" name="roomNoOther" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="folioNoOther"  class="col-sm-4 col-form-label">폴리오 번호</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="folioNoOther" name="folioNoOther" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="zoneTypeCodeOther"  class="col-sm-4 col-form-label">Zone Type Code</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="zoneTypeCodeOther" name="zoneTypeCodeOther" value="" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="mb-3 row" >
                                            <label for="etcValue01Other"  class="col-sm-4 col-form-label">etcValue01</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue01Other" name="etcValue01Other" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue02Other"  class="col-sm-4 col-form-label">etcValue02</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue02Other" name="etcValue02Other" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue03Other"  class="col-sm-4 col-form-label">etcValue03</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue03Other" name="etcValue03Other" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue04Other"  class="col-sm-4 col-form-label">etcValue04</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue04Other" name="etcValue04Other" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row" >
                                            <label for="etcValue05Other"  class="col-sm-4 col-form-label">etcValue05</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="etcValue05Other" name="etcValue05Other" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="userIdOther" class="col-sm-4 col-form-label">User Id</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="userIdOther" name="userIdOther" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="userIpOther" class="col-sm-4 col-form-label">User IP</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="userIpOther" name="userIpOther" value="" class="form-control">
                                            </div>
                                        </div>
                                        <div  class="mb-3 row">
                                            <label for="langTypeOther" class="col-sm-4 col-form-label">Lang Type</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="langTypeOther" name="langTypeOther" value="" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <button type="button" onclick="callOtherInfo()" class="btn btn-primary">전송 정보 호출</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card" >
        <div class="card-body">
            <div  class="mb-3 row" id="requestkafkaMessageForDisplay">

            </div>
            <div  class="mb-3 row">
                <label for="requestkafkaMessage" class="col-sm-2 col-form-label">requestkafkaMessage</label>
                <div class="col-sm-10">
                    <input type="text" id="requestkafkaMessage" name="requestkafkaMessage" value="" class="form-control">
                </div>
            </div>
            <button type="button" onclick="callProducer()" class="btn btn-primary">Kafka 호출</button>
        </div>
    </div>
    <script>

    </script>
</body>
</html>
